
<h2 class="form-heading">Add a new user</h2>
<div ng-controller="manageController" class="manageUser">
	<form name="userForm" class="simple-form" ng-submit="addUser(user,$event)" novalidate>  
		 <div>
			<label class="desc">
			  First Name
			</label>
	        <div>
	           <input type="text" name="fname" editable-text="user.firstName" ng-model="user.firstName" placeholder="First Name" ng-maxlength="12" required/>
			   <span style="color:red" ng-show="userForm.fname.$invalid && userForm.fname.$dirty">
			     Invalid
			 </div>
		 </div>	 
		 
		 <div>
			<label class="desc">
			  Last Name
			</label>
	        <div>
	           <input type="text" name="lname" ng-model="user.lastName"  placeholder="Last Name" ng-maxlength="12" required/> 
			   <span style="color:red" ng-show="userForm.lname.$invalid && userForm.lname.$dirty  ">
			      Invalid
			   </span>
			 </div>
		 </div>	 
		 
		 <div>
			<label class="desc">
			  Gender
			</label>
	        <div>
	            <select  name="gender" ng-model="user.gender" ng-options="obj for obj in genderValue" required>
                   <option value="">Select</option>
                </select>
				<span style="color:red" ng-show="userForm.gender.$invalid && userForm.gender.$dirty">
			      Select gender
			    </span>
			 </div>
		 </div>
		 
		 <div>
			<label class="desc">
			  Phone 
			</label>
	        <div>
	           <input type="number" name="phone" ng-model="user.phone" ng-minlength="10" ng-maxlength="10" placeholder="10 digit Phone number"  required>
			   <span style="color:red" ng-show="userForm.phone.$dirty && userForm.phone.$invalid">
			      <span ng-show="userForm.phone.$error.required">Invalid</span>
			   </span>
			   <span style="color:red" class="help-block" ng-show="((userForm.phone.$error.minlength || userForm.phone.$error.maxlength) && userForm.phone.$dirty) ">
			      exactly 10 digits
			   </span>
			 </div>
		 </div>	 
 	 
		 
		<div>
			<label class="desc">
			  Country
			</label>
	        <div> 
				<select name="country" ng-model="user.countryId" ng-change="onCountryChange()" ng-options="obj.countryId as obj.countryName for obj in countryList" required>
				  <option value="">Select</option>
				</select>
				<span style="color:red" ng-show="userForm.country.$invalid && userForm.country.$dirty">
			      Select Country
			    </span>
			</div>
		</div>	 
        
		<div>
			<label class="desc">
			  State
			</label>
	        <div>
				<select name="state" ng-model="user.stateId" ng-disabled="!user.countryId" ng-change="onStateChange()" ng-options="obj.stateId as obj.stateName for obj in stateList" required>
				   <option value="">Select</option>
				</select>		
				<span style="color:red" ng-show="userForm.state.$invalid && userForm.state.$dirty">
			      Select State
			    </span>
	        </div>
		</div>	 
		
		<div>
			<label class="desc">
			  City
			</label>
	        <div>
				<select name="city" ng-model="user.cityId" ng-disabled="!user.countryId || !user.stateId" ng-options="obj.cityId as obj.cityName for obj in cityList" required>
				    <option value="">Select</option>
				</select>
				<span style="color:red" ng-show="userForm.city.$invalid && userForm.city.$dirty">
			      Select City
			    </span>
		 	 </div>
		 </div>	 
		 
		<div class="buttonGroup">
			<button type="submit"  ng-disabled="userForm.$invalid"  >Add User</button>
			<button type="button" ng-click="resetForm();" >Reset</button>
		</div>
    </form>
   
   <br>

   <div ng-bind="fromServer" class="userCreated">

   </div>
</div>